@import "@assets/styles/variables";

.homepage-description {
    & > div:first-child {
        color: #ff5eae;
    }

    & > img {
        max-width: 566px;
        margin-left: 60px;
    }
}

.home-features {
    background-color: $darkBlueColor;
    padding-top: 72px;
    padding-bottom: 32px;

    & .feature-item {
        & p {
            margin-bottom: 0;
            white-space: pre-wrap;
            line-height: 22.5px;
        }
        & > div:first-child {
            flex-shrink: 0;
            background-color: #31527c;

            & img {
                width: 40px;
                margin: auto;
            }
        }
    }
}

.special {
    & .special-image {
        background-image: url("../../../../public/assets/image/boy-bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 468px;
        height: 378px;
        position: relative;
        flex-shrink: 0;
        & img {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
        }
    }
    .special-content {
        & .special-title {
            white-space: pre-wrap;
            color: $darkBlueColor;
        }
        & .special-icon {
            background-color: #ebeaed;
        }
    }
}

.steps {
    & .step-item {
        box-shadow: 0px 8px 20px 5px #e7ecf2;
        & .step-name {
            height: 50px;
            white-space: pre-wrap;
        }
        & .step-desc {
            font-size: 11px;
            line-height: 16.5px;
            margin-top: 10px;
            letter-spacing: 0.75px;
        }
    }

    & .step-icon {
        margin: 0 auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 88px;
        height: 88px;
        background-image: url("../../../../public/assets/svg/step-wrap-icon.svg");
    }
}

.courses {
    & .slick-slide {
        background-color: white;
        padding: 20px;
    }
    & .course {
        & .course-name {
            align-self: stretch;
        }
        & .course-actions {
            align-self: stretch;
            & button {
                flex: 1;
                border: none;
                border-radius: 50px;
                background: #ff5eae;
                color: 15px;
                font-weight: 700;
                color: $whiteColor;
                &:first-child {
                    background: $darkBlueColor;
                }
            }
        }
        & .course-desc {
            align-self: stretch;
        }
        & .course-img {
            object-fit: cover;
        }
    }
    .course-button {
        height: 36px;
        width: 36px;
        background-color: #6e8db5;
        cursor: pointer;
        border-radius: 50%;
        display: flex;
        & img {
            margin: auto;
            width: 6px;
        }
    }
}

.feedback {
    & .feedback-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        border-radius: 50%;
        &:hover {
            background-color: #f0f2f5;
        }
    }
    & .feedback-item {
        & .feedback-content {
            letter-spacing: 1px;
        }
    }
}
