@import "@assets/styles/_variables.scss";
.live-class {
    & .live-class-item {
        border-radius: 20px;
        box-shadow: 0px 8px 20px 5px #e7ecf2;
        padding: 16px 28px;
        & button {
            background-color: $darkBlueColor;
            border: none;
            color: $whiteColor;
            height: 40px;
            width: 130px;
            border-radius: 50px;
            cursor: pointer;
            &:active {
                opacity: 0.7;
            }
        }
    }
}
