@import "@assets/styles/_variables.scss";

.auth-container {
  max-width: 960px;
  margin: 0 auto;
}

.auth-header {
  box-shadow: 5px 6px 10px 3px rgba(154, 154, 154, 0.3);
  position: fixed;
  right: 0;
  left: 0;
  background: $whiteColor;
  z-index: 1;
  overflow: hidden;
  & > div {
    height: 78px;
    display: flex;
    align-items: center;
  }
}

.auth-footer {
  height: 386px;
  padding-top: 24px;
  color: $whiteColor;
  background-color: $darkBlueColor;

  & .auth-footer-logo {
    margin-bottom: 17px;
  }

  & .name {
    $places: (top, left, right, bottom);
    @each $place in $places {
      @for $n from 1 to 101 {
        .#{$place}-#{$n} {
          #{$place}: #{$n}px;
        }
      }
    }
    font-weight: 700;
    font-size: 15px;
    list-style: 20px;
    letter-spacing: 0.75;
  }

  & .end {
    color: #9eb9dc;
    border-top: 1px solid #01d2fe;
  }
}

.header-profile-button {
  padding: 5px 12px;
  border-radius: 50px;
  border: 1px solid $darkBlueColor;
  cursor: pointer;
}

.custom-header-dropdown {
  & ul.ant-dropdown-menu.ant-dropdown-menu-root {
    border-radius: 20px !important;
    border: 1px solid $darkBlueColor;
  }
}
