@import "@assets/styles/_variables.scss";

.forgot-pass-header {
    background-color: $darkBlueColor;
}

.forgot-pass-modal .ant-modal-content {
    padding: 0;
    background-color: $whiteColor;
}

.forgot-pass-modal {
    width: 467px !important;
}
