@import "@assets/styles/_variables.scss";

.exam-school {
    & .exam-item {
        box-shadow: 0px 8px 20px 5px #e7ecf2;
        padding: 16px 28px;
        border-radius: 20px;
        margin-bottom: 32px;
        & button {
            width: 130px;
            height: 40px;
            background: $darkBlueColor;
            color: $whiteColor;
            border: none;
            cursor: pointer;
            &:active {
                opacity: 0.7;
            }
        }
    }
}
