@import "@assets/styles/_variables.scss";

.courses-page {
    & .courses-page-item {
        box-shadow: 0px 8px 20px 5px #e7ecf2;
    }
    & .courses-item-actions {
        & button {
            height: 40px;
            flex: 1;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            &:active {
                opacity: 0.7;
            }
        }
        & button:first-child {
            margin-right: 16px;
            border: 1px solid $darkBlueColor;
            color: $darkBlueColor;
            font-size: 13px;
            font-weight: 700;
            background-color: $whiteColor;
        }
        & button:last-child {
            color: $whiteColor;
            font-size: 13px;
            font-weight: 700;
            background-color: $darkBlueColor;
        }
    }
}
