@import "@assets/styles/_variables.scss";

.exam-page {
    & .question-list {
        background-color: $darkBlueColor;
        border-radius: 20px;
    }

    & .question-circle.active {
        border: 1px solid $whiteColor;
    }
    & .exam-card {
        background-color: $darkBlueColor;
        border-radius: 20px;
        & .exam-progress {
            background-color: #2c4d78;
            border-radius: 20px;
        }
        & .exam-time {
            width: 83px;
            height: 32px;
            background-color: #2c4d78;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            & > div {
                color: #ffda2d;
            }
        }
        & .exam-answer-button {
            background-color: #2c4d78;
            color: #d9dbe9;
            cursor: pointer;
        }
    }
    & .custom-radio {
        & .ant-radio {
            &.ant-radio-checked {
                & .ant-radio-inner {
                    background-color: $whiteColor;
                    border: none;
                }
            }
            & .ant-radio-inner {
                background-color: #13345f;
                border: none;
            }
        }
    }
    & .exam-card-button {
        background-color: #31527c;
        height: 44px;
        width: 140px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
        &:active {
            opacity: 0.7;
        }
        & > span {
            color: #f7f7fc;
        }
    }
}
