@import "./variables";
body {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.custom-switch {
    &:where(.css-dev-only-do-not-override-108dqf7).ant-switch.ant-switch-checked {
        background-color: #34a853 !important;
    }
}

.custom-date-picker {
    border-radius: 0 !important;
}

.app-content-wrapper {
    padding-top: $headerHeight;
}

.content-layout {
    max-width: 960px;
    margin: 0 auto;
}

.border-green {
    border: 0.5px solid #34a853;
}

.custom-tabs-school {
    transform: translateY(-34px);
    & .ant-tabs-tab {
        padding-top: 0;
        line-height: 22px;
        padding-bottom: 0;
    }

    & .ant-tabs-nav {
        &::before {
            display: none;
        }
        border: none !important;
    }
}

.hide-control-carousel {
    & .ant-carousel ul.slick-dots {
        display: none !important;
    }
}
