$whiteColor: #ffffff;
$darkBlueColor: #13345f;
$orangeColor: #f6821f;
$blackColor: #000000;
$lightBlueColor: #eef2f6;
$textLightBlueColor: #6e8db5;

$headerHeight: 78px;
$contentPadding: 16px;
$sideBarWidth: 300px;

.text-light-blue {
    color: $textLightBlueColor;
}

.text-white {
    color: $whiteColor;
}

.text-dark-blue {
    color: $darkBlueColor;
}

.bg-white {
    background-color: $whiteColor;
}

.bg-light-blue {
    background-color: $lightBlueColor;
}
